/* Navbar Styles */
.navbar {
  background-color: #f8f9fa !important; /* Light background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #343a40 !important; /* Darker text color */
}

.nav-link {
  font-size: 1.1rem;
  margin-right: 1rem;
  color: #343a40 !important; /* Darker text color */
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #007bff !important; /* Bootstrap primary color on hover */
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #007bff !important; /* Bootstrap primary color for active link */
}
